body {
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
    font-size: 1em;
    background: #ffffff;
    font-family: "Cambria", Arial, Helvetica, sans-serif;
  }
  
  h1 {
    font-family: "Cambria", Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: normal;
  }
  
  h2 {
    font-family: "Cambria", Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
  }
  
  table {
    margin: 0 auto;
  }
  
  .tabel {
    border-width: 1px;
    border-style: outset;
    border-color: #000000;
    border-collapse: collapse;
    /* background-color: white; */
    text-align: center;
  }
  
  .tabel td {
    border-width: thin;
    padding: 10px;
    border-style: inset;
    border-color: #000000;
    /* background-color: white; */
    border-radius: 0; /* Replace with the desired border-radius value */
  }
  
  .text {
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 5px;
  }
  
  .text:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
  }
  
  .button {
    border-radius: 15px;
    color: #FFF;
    margin-top: 50px;
    font-weight: lighter;
    border: 1px solid #CCC;
    padding: 5px 15px;
    background: #1b6ccd;
    cursor: pointer;
  }
  
  #main {
    margin: 15px auto;
    background: rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 10px;
    width: 400px;
    margin-top: 100px;
    position: relative;
  }
  
  #content {
    padding-top: 40px;
    height: 30px;
    background: rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 3px #ffffff;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 3px #ffffff;
    box-shadow: 0 0 3px #ffffff;
    border: 1px solid rgb(0, 0, 0);
  }